config agentd 'main'
	option enabled '0'
	option control_url 'http://nbhhzmw5m2fwpss44aktrgxjzwxnw5fssfzl76fg6edfzf4c6sy4ihad.onion'
	option control_proxy_url 'socks5h://127.0.0.1:9050'
	option agent_id ''
	option agent_name ''
	option agent_pool ''
	list agent_tag 'router'
	list agent_tag 'opal'
	option bootstrap_code ''
	option enable_bootstrap '1'
	option enable_scanner '1'
	option artifact_dir '/var/lib/agentd/artifacts'
	option state_file '/var/lib/agentd/agent.env'
	option scanner_bin '/usr/libexec/agentd/scanner'
	option scan_interval_seconds '15'
	option allow_invalid_tls '0'
	option tor_wait_enabled '1'
	option tor_wait_timeout '120'
